{% load i18n %}
<div id="container">
    <div id="header">
        <div id="logo">
			<a href="{% url "home" %}">
            	<img src="{{ STATIC_URL }}youtune/images/logo-sl.png" alt="YouTune" />
            </a>
        </div>
        <div id="search">
            <div id="cse_search_form"></div>
            Search here.
        </div>
        {% comment %}
        This div is used for registration and log in link. 
        If user is already logged in, his username and logout link are shown instead.
        {% endcomment %}
        <div class='user'>
            {% load facebook %}
            {% if user.is_authenticated %}
                <img src="{% facebook_picture user.username "square" %}" />
                <p><a href="{% url "profile" username=user.username %}"><strong>{{ user.username }}</strong></a></p>
                <form method="post" action="{% url "logout" %}" id="logout_form">
                	  {% csrf_token %}
                    <p><button type="submit" class="auth_button" value="value">Log out</button></p>
                </form>
            {% else %}
                <p><a href="{% url "registration" %}">Register</a></p>
                <p><a href="{% url "login" %}">Log in</a></p>
            {% endif %}
        </div>
    </div>
</div>
