
/* ------OVERALL-------- */
body{
    margin: 0 auto;
    width: 80%;
}
textarea {
    height: 175px;
    width: 100%;
    resize: none;
}

.clear{
	clear: both;
}


/* ------TOP AREA-------- */
#searchBar{
    background: none repeat scroll 0 0 #E3E3E3;
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#searchBarBox{
    background: none repeat scroll 0 0 #E3E3E3;
    height: 30px;
    left: 0;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    width: 80%;
    z-index: 1;
}
#mainLogo{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 25px;
    vertical-align: middle;
    width: 100px;
    z-index: 2;
}
#searchArea{
    float: left;
    left: 50%;
    margin: 0 0 0 -325px;
    position: relative;
    text-align: center;
    width: 450px;
}
#searchInput{
     width:28em;
}

#loginButton{
    float: right;
    width: 100px;
}
#loginButton .inner{
	padding: 0 10px;
    text-align: center;
}

.loginForm{
    position: absolute;
    width: 236px;
    right: 0;
    top: 20px;
    visibility: hidden;
    z-index: 2;
    border: 2px solid #002A80;
}


/* ------LOGGED IN PAGE-------- */
.loggedForm{
    position: absolute;
    width: 56px;
    right: 0;
    top: 20px;
    visibility: hidden;
    text-align: center;
    z-index: 2;
    border: 2px solid #002A80;
}
a:hover{
    cursor:default;
}


/* ------MAIN AREA-------- */
#youtune-main{
    padding-top: 40px;
}


/* ------CHANNEL CONTENT-------- */
.channelHeader{
    background-color: #005580;
    color: #FFFFFF;
    height: 10em;
    margin-bottom: 0em;
}
.channelAvatar{
    top: 0em;
    height: 128px;
    width: 128px;
    float: left;
    margin: 1em;
    padding: 0em;
}
.content{
    padding: 5em;
    background-color: #e3e3e3;
}
#channelTitle{
    padding-top: 1em;
}
#channel{
    
}



/* ------REGISTRATION PAGE-------- */
.date{
    margin-right: 1em;
}


.register-form{
    background-color: #0077b3;
    color: #ffffff;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 1em 1em 1em 2em;
    font: 1em Arial, Helvetica, sans-serif;
}
.textField{
    display:inline-block;
    width:5em;

}
.inputField{
     display:inline-block;
     width:15em;
     padding: 1em 1em 1em 1em;
     margin:0 0 7em 0;
 }
.choice{
    display:inline-block;
    width:15em;
    margin-bottom: 3em;
}


/* ------UPLOAD PAGE-------- */
.box{
    background-color: #0077b3;
    color: #ffffff;
    width: 40em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1em 1em 1em 2em;
    font: 1em Arial, Helvetica, sans-serif;

}
.row{
    text-align: left;
    margin-top: 3em;

    margin-left: auto;
    margin-right: auto;

}
.tunes{
    background-color: #0077b3;
}
.textarea{
		width: 30em;
}
.tagtext{
		width: 30em;
}


/* ------SETTINGS PAGE-------- */

.title{
    color: #ffffff;
    background-color: #002a80;
    height: 40px;
    padding: 5px;
}
.title .name{
	    float: left;
	    margin: 0;
	}
.title .save{
	    float: right;
	    margin: 5px;
	}

.options {
    background:#0077b3;
    color: #ffffff;
    width: 25%;
    float: left;
    display: block;
}
.options a {
    display: block;
    color: #ffffff;
    padding: 10px 30px;
    background:#0077b3;
    border-bottom: 1px solid #cac9c9;
    cursor: pointer;
    text-decoration: none;
}
.options a.selected {
    background:#002a80;
}
.options a.no-border {
    border:none;
}
.padtop {
   padding-top: 5px;
}

.stuff{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background-color: #0077B3;
    border: 1px solid #CAC9C9;
    color: #FFFFFF;
    display: block;
    float: left;
    min-height: 123px;
    padding: 10px;
    width: 75%;
}
.basicPic{
    height: 128px;
    width: 128px;
    float: left;
}

#introduction{
   
}

/* ------MAIN PAGE-------- */
.module{
    background-color: #0077b3;
    text-align: center;
}
.topFive{
    display: inline-block;
    margin-right: 8em;
}
.songList{
    display: inline-block;

}
.mainTxt{
    color: #ffffff;
    text-decoration: underline;
}
.fieldLimit{
    width: 8em;
}

/* ------PLAYBACK PAGE-------- */
.center{ /*used globaly, dont change*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*
.suggest{
    display: inline-block;
    right: 0em;
    top: 4em;
    position: absolute;
    z-index: -1;
    background-color: #0077b3;
    width: 25%;
    height: auto;
    color: #ffffff;
}
*/
#likeBtn{
    display: inline-block;
    position: relative;
    right: 3.8em;
    padding-top: 1em;
    margin-right: 7em;
    text-align: left;
}
#likes{
    display: inline-block;
    position: relative;
    left: 3em;
    top: -1em;
    text-align: right;
}
.loadMore{
    margin-left: 11em;
}
.description{
    width: 29.8em;
    border: #e3e3e3;
    border-style: solid;
}
#tags{
    display: inline-block;
}


/* ------SEARCH RESULTS PAGE-------- */
#searchResults{
    height: auto;
}
#comments{
    width: 29.8em;
    height: auto;
}