/* ------TOP AREA-------- */
#searchBar{
    position: relative;
    background:#e3e3e3;
    width: 100%;
    height: 4em;
    z-index: 2;

}
#mainLogo{
    display: inline-block;
    vertical-align: middle;

    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    height: 3em;
    margin-left: 1em;
    margin-top: 1em;
    width: 10%;
}
#searchArea{
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
#btn{
    width: 3em;
    margin-right: 3em;
}
#searchInput{
     width:28em;
}

.login{
    position: absolute;
    top: 1em;
    right: 2em;
    width: 10%;
}

.loginForm{
    position: absolute;
    width: 15em;
    height: 8em;
    right: 0em;
    top: 2em;
    visibility: hidden;
    z-index: 1;
}



/* ------CHANNEL CONTENT-------- */
.channelHeader{
    background-color: #005580;
    color: #FFFFFF;
    height: 10em;
    margin-top: 4em;
    margin-bottom: 0em;
}
.channelAvatar{
    top: 0em;
    height: 128px;
    width: 128px;
    float: left;
    margin: 1em;
    padding: 0em;
}
.content{
    padding: 5em;
    background-color: #e3e3e3;
}
#channelTitle{
    padding-top: 1em;
}
#channel{
    position: absolute;
    top: 0em;
    width: 100%;
    z-index: -1;
}



/* ------REGISTRATION PAGE-------- */
.date{
    margin-right: 1em;
}


.register-form{
    background-color: #0077b3;
    color: #ffffff;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 1em 1em 1em 2em;
    font: 1em Arial, Helvetica, sans-serif;
}
.textField{
    display:inline-block;
    width:5em;

}
.inputField{
     display:inline-block;
     width:15em;
     padding: 1em 1em 1em 1em;
     margin:0 0 7em 0;
 }
.choice{
    display:inline-block;
    width:15em;
    margin-bottom: 3em;
}


/* ------LOGGED IN PAGE-------- */
.loggedForm{
    position: absolute;
    width: 5em;
    height: 6em;
    right: 0em;
    top: 2em;
    visibility: hidden;
    text-align: center;
    z-index: 0;
}
a:hover{
    cursor:default;
}


/* ------UPLOAD PAGE-------- */
.box{
    background-color: #0077b3;
    color: #ffffff;
    width: 40em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1em 1em 1em 2em;
    font: 1em Arial, Helvetica, sans-serif;

}

.row{
    text-align: left;
    margin-top: 3em;

    margin-left: auto;
    margin-right: auto;

}

.tunes{
    background-color: #0077b3;
}

/* CLEANUP */
/* remove the tick as well and add some other indicator */
.options {
    background:#e3e2e2;
    min-height: 190px;
}
.options a {
    display:block;
    color: #9f9f9f;
    padding:12px 10px;
    background:#e3e2e2;
    border-bottom:1px solid #cac9c9;
    position:relative;
    cursor:pointer;
}
.options a:hover {
    color: #8e8e8e;
    background:#f4f4f4;
    -webkit-transition:0.1s linear background;
    -moz-transition:0.1s linear background;
    transition:0.1s linear background;
}
.options a.selected {
    color: #6f6f6f;
    background:#fff;
}
.options a.selected:hover {
    background:#f4f4f4;
}
.options a.selected:after {
    content:"\2713";
    position:absolute;
    right:10px;
    top:50%;
    font-size:20px;
    margin-top:-10px;
}
.options a.no-border {
    border:none;
}
textarea {
    height: 175px;
    width: 100%;
    resize: none;
}
.padtop {
    padding-top: 5px;
}