
/* ------OVERALL-------- */
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
textarea {
    height: 175px;
    width: 100%;
    resize: none;
}


/* ------TOP AREA-------- */
#searchBar{
    position: relative;
    background:#e3e3e3;
    width: 100%;
    height: 4em;
    z-index: 2;

}
#mainLogo{
    display: inline-block;
    vertical-align: middle;

    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    height: 3em;
    margin-left: 1em;
    margin-top: 1em;
    width: 10%;
}
#searchArea{
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
#btn{
    width: 3em;
    margin-right: 3em;
}
#searchInput{
     width:28em;
}

.login{
    position: absolute;
    top: 1em;
    right: 2em;
    width: 10%;
}

.loginForm{
    position: absolute;
    width: 15em;
    height: 8em;
    right: 0em;
    top: 2em;
    visibility: hidden;
    z-index: 1;
}



/* ------CHANNEL CONTENT-------- */
.channelHeader{
    background-color: #005580;
    color: #FFFFFF;
    height: 10em;
    margin-top: 4em;
    margin-bottom: 0em;
}
.channelAvatar{
    top: 0em;
    height: 128px;
    width: 128px;
    float: left;
    margin: 1em;
    padding: 0em;
}
.content{
    padding: 5em;
    background-color: #e3e3e3;
}
#channelTitle{
    padding-top: 1em;
}
#channel{
    position: absolute;
    top: 0em;
    width: 100%;
    z-index: -1;
}



/* ------REGISTRATION PAGE-------- */
.date{
    margin-right: 1em;
}


.register-form{
    background-color: #0077b3;
    color: #ffffff;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 1em 1em 1em 2em;
    font: 1em Arial, Helvetica, sans-serif;
}
.textField{
    display:inline-block;
    width:5em;

}
.inputField{
     display:inline-block;
     width:15em;
     padding: 1em 1em 1em 1em;
     margin:0 0 7em 0;
 }
.choice{
    display:inline-block;
    width:15em;
    margin-bottom: 3em;
}


/* ------LOGGED IN PAGE-------- */
.loggedForm{
    position: absolute;
    width: 5em;
    height: 6em;
    right: 0em;
    top: 2em;
    visibility: hidden;
    text-align: center;
    z-index: 5;
}
a:hover{
    cursor:default;
}


/* ------UPLOAD PAGE-------- */
.box{
    background-color: #0077b3;
    color: #ffffff;
    width: 40em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1em 1em 1em 2em;
    font: 1em Arial, Helvetica, sans-serif;

}
.row{
    text-align: left;
    margin-top: 3em;

    margin-left: auto;
    margin-right: auto;

}
.tunes{
    background-color: #0077b3;
}
.textarea{
		width: 30em;
}


/* ------SETTINGS PAGE-------- */
/* CLEANUP */
/* [x] remove the tick as well and add some other indicator */

.options {
    display: inline-block;
    background:#0077b3;
    text-emphasis-color: #ffffff;
    color: #ffffff;
    width: 25%;
    height: 100%;
}


.options a {
    display:block;
    color: #ffffff;
    padding: 1em;
    background:#0077b3;
    border-bottom:1px solid #cac9c9;
    cursor:pointer;
}
.options a:hover {
    color: #ffffff;
}
.options a.selected {
    color: #ffffff;
    background:#002a80;
}
.options a.selected:hover {
    /*background:#f4f4f4;*/
}
.options a.selected:after {
}
.options a.no-border {
    border:none;
}
.padtop {
   padding-top: 5px;
}
.stuff{
    background-color: #ffffff;
    height: 100%;
    position: absolute;
    top: 11em;
    margin-left: 25%;
    z-index: -1;
    padding: 1em;
    padding-top: 2em;
    width: 75%;
}
.basicPic{
    height: 128px;
    width: 128px;
    float: left;
}
.title{
    color: #ffffff;
    position: absolute;
    background-color: #002a80;
    top: 4em;
    left: 25%;
    width: 75%;
    height: 5em;
    padding: 0.98em;
    z-index: -2;
    border-bottom:1px solid #cac9c9;
}
.save{
    position: absolute;
    right: 5%;
    top: 6em;
    z-index: 0;
}
#introduction{
   /* background-color: tomato;*/
}

/* ------MAIN PAGE-------- */
.module{
    background-color: #0077b3;
    text-align: center;
}
.topFive{
    display: inline-block;
    margin-right: 8em;
}
.songList{
    display: inline-block;

}
.mainTxt{
    color: #ffffff;
    text-decoration: underline;
}
.fieldLimit{
    width: 8em;
}

/* ------PLAYBACK PAGE-------- */
.center{ /*used globaly, dont change*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.suggest{
    display: inline-block;
    right: 0em;
    top: 4em;
    position: absolute;
    z-index: -1;
    background-color: #0077b3;
    width: 25%;
    height: 100%;
    color: #ffffff;
}
.likeBtn{
    padding-right: 13em;
}

.loadMore{
    margin-left: 11em;
}


